# gitignore for EcEn 631 - Robotic Vision class projects repository

# gitignores pulled from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
*.suo
*.exe
*.ilk
*.pdb
*.VC.db
*.log
*.obj

# vim ignores
*.swp

# ipython ignores
*.ipynb_checkpoints/

# Folder ignores
#Debug/

# My Visual Studio ignores
*.tlog
*.idb
*.obj.enc

# Output ignores
*.avi

# Ignores for specific applications
camera_calibration/camera_calibration
stereo_calibration/stereo_calibration
ball_tracker/bin
ball_catcher/bin
motion_structure/bin
motion_field/bin
